<div class="row link border mt-5 drop-shadow-md p-2 grid grid-cols-2" data-sortable-update-url="<%= link_position_path(link) %>">
  <div>
    <h5 class="card-title">
      <%= icon "grip-vertical", variant: "solid", class: "link_handle" %>
      <%= render partial: "links/inline_name_form", locals: { link: link } %>
    </h5>
    <%= render partial: "links/inline_url_form", locals: { link: link } %>
  </div>
  <div class="ml-auto">
    <%= render "links/link_actions", link: link %>
  </div>
</div>
