<div class="grid grid-rows-2">
  <div class="grid grid-cols-2">
    <%= render partial: "links/share_button", locals: { url: url_for(link.url) } %>
    <%= render partial: "links/inline_active_toggle_form", locals: { link: link } %>
  </div>
  <div  class="grid grid-cols-2">
    <%= link_to url_for(link.url), target: "__blank", class: "text-gray-500 font-bold py-2 px-4 rounded", method: :delete, data: { confirm: "Are you sure?" } do %>
      <%= icon "eye", variant: "outline", class: "link_handle" %>
    <% end %>
    <%= button_to link, class: "text-gray-500 font-bold py-2 px-4 rounded", method: :delete, data: { confirm: "Are you sure?" } do %>
      <%= icon "trash-2", variant: "outline", class: "link_handle" %>
    <% end %>
  </div>
</div>
